@font-face {
  font-family: "Spartan";
  font-display: swap;
  src: url("../assets/fonts/Spartan-Regular.woff") format("woff"), url("../assets/fonts/Spartan-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Spartan";
  font-display: swap;
  src: url("../assets/fonts/Spartan-Medium.woff") format("woff"), url("../assets/fonts/Spartan-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Spartan";
  font-display: swap;
  src: url("../assets/fonts/Spartan-SemiBold.woff") format("woff"), url("../assets/fonts/Spartan-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Spartan";
  font-display: swap;
  src: url("../assets/fonts/Spartan-Bold.woff") format("woff"), url("../assets/fonts/Spartan-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

.body {
  font-family: 'Spartan', sans-serif;
  background-color: #121212;
  color: white;
  margin: 0;
}

.body::-webkit-scrollbar {
  width: 0.3125rem;
}

.body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0.3125rem rgba(255, 255, 255, 0.2);
          box-shadow: inset 0 0 0.3125rem rgba(255, 255, 255, 0.2);
}

.body::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
}

.body__overflow {
  overflow-y: hidden;
}

.outer__container__home {
  position: relative;
  max-width: 80rem;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

.outer__container {
  position: relative;
  max-width: 80rem;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

.inner__container {
  padding: 0 0.9375rem;
}

.h1 {
  font-family: 'Spartan', sans-serif;
  margin: 0.9375rem 0 0 0;
  padding: 0;
  font-size: 2.25rem;
  color: #ec7a5c;
  text-align: center;
  text-transform: uppercase;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.h2 {
  font-family: 'Spartan', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1.625rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.h3 {
  font-family: 'Spartan', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 0.75rem;
  font-weight: 600;
  color: white;
  text-align: center;
  text-transform: uppercase;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.h4 {
  font-family: 'Spartan', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 0.875rem;
  font-weight: 400;
  color: rgba(18, 18, 18, 0.8);
  line-height: 1.25rem;
  letter-spacing: 0.06em;
}

a {
  text-decoration: none;
  color: white;
}

.textarea {
  font-family: 'Spartan', sans-serif;
  display: block;
  max-width: 48.4375rem;
  margin: 0.9375rem auto 0 auto;
  padding: 0.9375rem;
  font-size: 2.25rem;
  color: #121212;
  border: none;
  border-radius: 0.9375rem;
  outline: none;
  resize: none;
}

.keyboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.3125rem;
  max-width: 50rem;
  margin: 0.9375rem auto 0 auto;
  padding: 0.3125rem;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0.625rem;
}

.button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 1.5625rem;
  min-height: 1.5625rem;
  padding: 0.625rem;
  background-color: rgba(255, 255, 255, 0.9);
  background-position: center;
  background-size: 90%;
  background-repeat: no-repeat;
  font-size: 1.375rem;
  font-weight: 500;
  color: #121212;
  border-radius: 0.3125rem;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button:hover {
  background-color: #ec7a5c;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.arrow__up {
  background-image: url("../assets/img/up.svg");
}

.arrow__right {
  background-image: url("../assets/img/right.svg");
}

.arrow__down {
  background-image: url("../assets/img/down.svg");
}

.arrow__left {
  background-image: url("../assets/img/left.svg");
}

.shift__right {
  padding: 0.625rem 2.125rem;
}

.space {
  width: 15.9375rem;
}

.active {
  background-color: #ec7a5c;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/*# sourceMappingURL=style.css.map */